<%- contentFor('bodyContent') %>
    <% movies.map(movie=> { %>
        <menu>
            <img src="<%= movie.poster %>" alt="<%= movie.title %> Poster">
            <h1>
                <%= movie.title %>
            </h1>
            <p>
                <%= movie.overview %>
            </p>
            <hr>
        </menu>
        <% }) %>
