<%- contentFor('bodyContent') %>
<% if (movies.length> 0) { %>
    <% movies.map(movie=> { %>
        <div class="movie-container">
            <img src="<%= movie.poster %>" alt="<%= movie.title %> Poster">
            <div class="movie-info">
                <div>
                    <h1>
                        <%= movie.title %>
                    </h1>
                    <p class="overview">
                        <%= movie.overview %>
                    </p>
                </div>

                <div class="additional-info">
                    <form action="/getMovieDetailsById" method="GET">
                        <button class="additional-info-btn" type="submit" name="id" value="<%= movie.id %>">Details</button>
                    </form>

                    <form action="/getMovieReviewsById" method="GET">
                        <button class="additional-info-btn" type="submit" name="id" value="<%= movie.id %>">Reviews</button>
                    </form>
                </div>
            </div>
        </div>
    <% }) %>

    <div class="pages">
        <div>
            <% if (nextPage <=totalPages) { %>
                <form action="/getMoviesByName" method="GET">
                    <input type="hidden" name="movie" value="<%= movie %>">
                    <button class="page-btn" type="submit" name="page" value="<%= nextPage %>">Next</button>
                </form>
            <% } %>
        </div>
        
        <div>
            <% if (previousPage> 0) { %>
                <form action="/getMoviesByName" method="GET">
                    <input type="hidden" name="movie" value="<%= movie %>">
                    <button class="page-btn" type="submit" name="page" value="<%= previousPage %>">Previous</button>
                </form>
            <% } %>
        </div>
    </div>

<% } else { %>
    <h1>No movies were found. Please verify the name or try another one.</h1>
<% } %>
